<form method="POST" action="/product">

  {{csrfField()}}
  <label for="product_id"> Product id </label>
  <input type="text" name="product_id" />
  <label for="product_name"> Product Name </label>
  <input type="text" name="product_name" />
  <button type="submit"> Submit </button>

</form>